

body {
  background: #23262d;
}

/*.checking {
  width: 10em;
  height: 5ex;
  background-color: #f9f9f9;
  border: 2px solid #77c1f2;
  border-radius: 10px;
  font-weight: bold;
  color: #1d45bd;
  cursor: pointer;
  transition: 0.3s;
}

.checking:hover {
  width: 15%;
  height: 7ex;
  background-color: #4f76f6;
  color: white;
}*/

.all {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows : 1fr 1fr 1fr;
  gap: 10px;
  transition: 0.3s;
}

@for $i from 0 through 8 {
  .container:nth-child(#{$i + 1}) {
    background: hsl($i * 40%, 100%, 74%);
    background-image: url("lightbulb.png");
    background-size: cover;
    background-position: center center;
  }
  .container:nth-child(#{$i + 1}):hover {
    background: hsl($i * 40%, 100%, 74%);
    background-image: url("light-bulb.png");
    background-size: cover;
    background-position: center center;
  }
  .all:has(.container:nth-child(#{$i + 1}):hover) {
    $r: floor($i / 3 + 1);
    $c: $i % 3 + 1;
    $arr: 1fr 1fr 1fr;
    $row: set-nth($arr, $r, 2fr);
    $col: set-nth($arr, $c, 2fr);
    grid-template-columns: $col;
    grid-template-rows: $row;
}
}



